.mat-dialog-container {
	padding: 0px !important;
	border-radius: 10px !important;
}

.form-group {
	position: relative;
	padding-bottom: 16px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input-app {
	width: 100%;
	border: 1px solid var(--neutral-color-f);
	border-radius: 8px;
	color: black;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	height: 35px;
	padding: 0 12px;
	outline: none;
	resize: none;
	&:focus {
		border: 1px solid var(--primary-color);
	}

	&:disabled {
		background-color: var(--neutral-color-c);
		color: var(--neutral-color-e);
		border: 1px solid var(--neutral-color-f) !important;
	}
	&:active {
		border: 1px solid var(--primary-color);
	}
}

*::-webkit-scrollbar {
	height: 3px !important;
	width: 3px !important;
	opacity: 0.5;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--neutral-color-f);
	opacity: 0.5;
}
.alert-error {
	width: 100%;
	position: absolute;
	bottom: 0;
	div {
		font-size: 12px;
		font-family: 'Lato';
		width: 100%;
		color: rgb(211, 101, 101);
	}
}
