<div class="publications">
	<mat-toolbar class="toolbar">
		<span class="font-lato text-2xl text-white">Publications</span>
		<app-tabs [tabs]="tabs" (active)="tabSelect($event)"></app-tabs>
	</mat-toolbar>
	<div [ngSwitch]="viewSelect">
		<div *ngSwitchCase="'2'">
			<app-card-publications (openModal)="openModal($event)" [publication]="publicationsNormal"></app-card-publications>
		</div>
		<div *ngSwitchCase="'3'">
			<app-card-publications (openModal)="openModal($event)" [publication]="publicationsSlideshow"></app-card-publications>
		</div>
		<div *ngSwitchDefault>
			<app-card-publications (openModal)="openModal($event)" [publication]="publications"></app-card-publications>
		</div>
	</div>
</div>
