<div class="modal-publication">
	<div
		class="title w-full flex justify-between items-center h-20 px-8 border-b border-b-complementary-color-a"
	>
		<span class="font-lato text-2xl text-primary-color"> New Publication </span>
		<div class="close">
			<mat-icon (click)="dialogRef.close()" class="cursor-pointer text-4xl">close</mat-icon>
		</div>
	</div>
	<div class="content h-[calc(100vh-572px)]">
		<form action="" [formGroup]="formPublication" class="pt-4 w-full h-full flex flex-col px-8">
			<div class="flex h-full w-full">
				<div class="texts w-full pr-3">
					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" placeholder="Enter title"  formControlName="title" class="input-app" id="title" />
					</div>
					<div class="form-group">
						<label for="text">Text</label>
						<textarea
							type="text"
							class="input-app text-area"
							placeholder="Enter text"
              formControlName="text"
							id="text"
						></textarea>
					</div>
				</div>
				<div class="tags flex flex-col w-full pl-3">
					<label for="tags" class="w-full">Tags</label>
					<p-chips formControlName="tags" placeholder="tags"></p-chips>
				</div>
			</div>
			<div class="flex h-full w-full">
				<div class="type flex w-full">
					<div class="form-group pr-3">
						<label for="title">Type</label>
						<p-dropdown
							formControlName="type"
							[options]="types"
							class="w-full mb-2.5 mr-2"
							[showClear]="true"
              (onChange)="valueType()"
							placeholder="Selected option"
						>
							<ng-template let-option pTemplate="item">
								<div class="option-item flex justify-start items-center">
									<span class="font-lato w-64 md:w-80 truncate">
										{{ option }}
									</span>
								</div>
							</ng-template>
						</p-dropdown>
					</div>
					<div class="form-group pl-3" *ngIf="type === 'Normal'">
						<label for="url">Url</label>
						<input type="text" formControlName="url" placeholder="Enter url" class="input-app" id="url" />
					</div>
				</div>
			</div>
		</form>
	</div>
	<div
		class="footer w-full flex justify-end h-20 items-center pr-8 border-t border-t-complementary-color-a"
	>
		<app-button (click)="dialogRef.close()" class="pr-4">Cancel</app-button>
		<app-button [disabled]="formPublication.invalid" (click)="save()" >Save</app-button>
	</div>
</div>
