.tabs{
  display: flex;
  .tab{
    cursor: pointer;
    margin-right: 20px;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
  }
  .tab__selected{
    color: var(--primary-color);
    background-color: white;
  }
}
